.container{
    margin: 0 235px;
}
body{
    margin: 0;
    font-family: Poppins;
}
ul{
    list-style: none;
}
//header
.header{
    background: url('../img/bg.jpg') no-repeat center center / cover;
    &__wrap{
        display: flex;
        justify-content: space-around;
    }
    &__btns{
        display: flex;
        align-items: center;
    }
    &__btn{
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        padding-right: 35px;
    }
    &__lang-btns{
        display: flex;
        align-items: center;
    }
    &__lbtn{
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        &_g{
            color: #B7B7B7;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 8px ;
        }
    }
    &__logo{
        margin-top: 22px;
        margin-left: -140px;
    }
    &__line-block{
        display: flex;
        flex-direction: column;
    }
    &__line{
        width: 37px;
        height: 2px;
        flex-shrink: 0;
        background: #FFF;
    }
}
.main{
    &__wrap{
        display: flex;
    }
    &__btn-block{
        background: #DB2512;
        padding: 11px 48px;
        width: 200px;
        text-align: center;
    }
    &__btn{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        text-decoration: none;
    }
    &__title{
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 72px */
        text-transform: uppercase;
        margin-top: 150px;
    }
    &__block{
        margin-bottom: 305px;
        max-width: 791px;
    }
}
//info
.info{
    &__wrap{
        display: flex;
        flex-direction: column;
    }
    &__cards{
        display: flex;
        justify-content: space-evenly;
        margin-top: -100px;
    }
    &__card{
        width: 386px;
    }
    &__card-bg{
        background-color: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    }
    &__card-logo{
        margin: 39px;
    }
    &__card-title{
        margin-left: 39px;
        margin-top: -20px;
    }
    &__card-text{
        padding-bottom: 39px;
        margin-left: 39px;
    }
    &__title{
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 4.5px;
        text-transform: uppercase;
        margin-left: 100px;
        margin-top: 100px;
    }
    &__text{
        color: #000;        
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.25px;
        text-decoration-line: underline;
        margin-left: 100px;
        margin-top: -25px;
    }
    &__cards1{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }
    &__card__title1{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
        letter-spacing: 4.6px;
        text-transform: uppercase;
        margin-top: -10px;
    }
}
//instr
.instr{
    background: #171616;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; 
        letter-spacing: 4.5px;
        text-transform: uppercase;
    }
    &__text-block{
        max-width: 490px;
        margin: 117px 0 ;      
    }
    &__text{
        color: #B7B7B7;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 22.5px */
        letter-spacing: 3.45px;
    }
    &__btn{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        letter-spacing: 2.7px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    &__pic{
        margin: 117px 0;
    }
}
//adv
.adv{
    &__text-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: #000;
        font-size: 148px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; 
        text-transform: uppercase;
        margin-bottom: -40px;
    }
    &__subtitle{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 60px */
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-bottom: 93px;
    }
    &__card{
        background: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        width: 386px;
        margin: 0 9.5px;
    }
    &__cards{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    &__card-title{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 2.7px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-left: 30px;
    }
    &__card-text{
        color: #B7B7B7;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        margin-left: 30px;
    }
}
//contact
.contact{
    background: #171616; 
    .container {
        padding: 100px 0;
    }
    &__title{
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 45px */
        letter-spacing: 4.5px;
        text-transform: uppercase;   
    }    
    &__input{
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 22.5px */
        letter-spacing: 2.25px;
        span{
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 1.8px;
        } 
        &_m{
            margin-bottom: 110px;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            letter-spacing: 1.8px;
            margin-top: 54px;
        } 
    }
    &__blocks{
        display: flex;
    }
    &__input-block{
        margin-right: 48px;
    }
    &__line-block{
        display: flex;
        flex-direction: column;
    }
    &__line{
        width: 197px;
        height: 1px;
        flex-shrink: 0;
        background: #FFF;
        &_n{
            width: 197px;
            height: 1px;
            flex-shrink: 0;
            background: #FFF;
            margin-bottom: 30px;
        }
        &_l{
            width: 440px;
            height: 0.785px;
            flex-shrink: 0;
            background: #FFF;
            margin-bottom: 30px;
        }
    }
    &__btn-block{
        background: #DB2512;
        text-align: center;
        padding: 11px 76px;
        width: 50px;
    }
    &__btn{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        text-transform: uppercase;
        text-decoration: none;
    }
}
//footer
.footer{
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 22.5px */
        letter-spacing: 2.25px;
        text-align: center;
        margin: 62px 0;
    }
    &__soc{
        display: flex;
        align-items: center;
        margin: 62px 0 ;
    }
    &__icon{
        margin-left: 21px;       
    }
}